<!-- Validation failure messages -->
<% if @event.errors.any? %>
    <% @event.errors.full_messages.each do |message| %>
        <div class="alert alert-dismissable alert-danger">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <%= message %>
        </div>
    <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Event</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_event/<%= @event.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for location_id -->
      <div class="form-group">
        <label for="location_id" class="control-label">
          Where to?
        </label>
        <%= select_tag(:location_id, options_from_collection_for_select(Location.where({user_id: current_user.id}).order("Name ASC"), :id, :Name), class: "form-control") %>
      </div>

      <!-- Label and input for Start -->
      <div class="form-group">
        <label for="Start" class="control-label">
          What time?
        </label>
        <input type="text" id="Start" name="Start" placeholder="Start" class="form-control" value="<%= Chronic.parse((@event.Start / 60).to_i.to_s + ":" + (@event.Start % 60).to_s).strftime('%l:%M%P') %>">
      </div>

      <!-- Label and input for Day -->
      <div class="form-group">
        <label for="Day" class="control-label">
          What day?
        </label>

        <input type="text" id="Day" name="Day" placeholder="Day" class="form-control" value="<%= @event.Day %>">
      </div>


      <button class="btn btn-warning">
        Update Event
      </button>
      or
      <a href="/events/">Cancel</a>
    </form>
  </div>
</div>
