<div class="page-header">
  <h1>
    Weekly Schedule
    <!--<a href="/events/new" class="btn btn-lg btn-success">New Event</a>-->
  </h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-1">
      <b>Monday</b>
      <%= @events.where({Day: "Monday"}).each do |e| %>
          Leave for <%= e.locations.Name %> at <%= e.Start %>
      <%= end %>
    </div>
    <div class="col-sm-1">
      Tuesday
    </div>
    <div class="col-sm-1">
      Wednesday
    </div>
    <div class="col-sm-1">
      Thursday
    </div>
    <div class="col-sm-1">
      Friday
    </div>
    <div class="col-sm-1">
      Saturday
    </div>
    <div class="col-sm-1">
      Sunday
    </div>
  </div>
</div>



<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
        <th>Sunday</th>
      </tr>

      <% @events.each do |event| %>
          <tr>
            <td><%= event.Start %></td>
            <td><%= event.Day %></td>
            <td><%= event.location_id %></td>
            <td>
              <a href="/events/<%= event.id %>" class="btn btn-primary">Show</a>
              <a href="/events/<%= event.id %>/edit" class="btn btn-warning">Edit</a>
              <a href="/delete_event/<%= event.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
            </td>
          </tr>
      <% end %>
    </table>
  </div>
</div>
