<div class="page-header">
  <h1>
    Weekly Schedule
    <!--<a href="/events/new" class="btn btn-lg btn-success">New Event</a>-->
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped">
      <tr align="center">
        <% @days.each do |day| %>
            <th class="text-center"><%= day %></th>
        <% end %>
      </tr>
      <tr>
        <% @days.each do |day| %>
            <td class="text-center">
              <% @events.where({Day: day}).each do |e| %>
                  <div class="panel">
                    <div class="btn-group-justified btn-group-md">
                      <a href="/events/<%= e.id %>/edit" class="btn btn-primary">
                        <%= e.Start %>:
                        <%= e.location.Name %>
                      </a>
                    </div>
                    <div class="btn-group btn-group-justified btn-group-sm">
                      <a href="/events/<%= e.id %>/duplicate_left" class="btn btn-default"> << </a>
                      <a href="/delete_event/<%= e.id %>" class="btn btn-danger">
                        <span class="glyphicon glyphicon-trash"></span>
                      </a>
                      <a href="/events/<%= e.id %>/duplicate_right" class="btn btn-default"> >> </a>
                    </div>
                  </div>
              <% end %>
              <div class="btn-group btn-group-justified btn-group-sm">
                <a href="/events/new" class="btn btn-success">Add</a>
              </div>
            </td>
        <% end %>
      </tr>
    </table>
  </div>
</div>
