<div class="page-header">
  <h2>
    Weekly Schedule
  </h2>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped">
      <tr align="center">
        <% @days.each do |day| %>
            <th class="text-center"><%= day %></th>
        <% end %>
      </tr>
      <tr>
        <% @days.each do |day| %>
            <td class="text-center">
              <% @events.where({day: day}).each do |e| %>
                  <div class="panel">
                    <div class="btn-group-justified btn-group-md">
                      <a href="/events/<%= e.id %>/edit" class="btn btn-primary">
                        <%= Chronic.parse((e.start / 60).to_i.to_s + ":" + (e.start % 60).to_s).strftime('%l:%M%p') %>:
                        <strong><%= e.location.name %></strong>
                      </a>
                    </div>
                    <div class="btn-group btn-group-justified btn-group-sm">
                      <a href="/events/duplicate_left/<%= e.id %>" class="btn btn-default"> << </a>
                      <a href="/delete_event/<%= e.id %>" class="btn btn-danger">
                        <span class="glyphicon glyphicon-trash"></span>
                      </a>
                      <a href="/events/duplicate_right/<%= e.id %>" class="btn btn-default"> >> </a>
                    </div>
                  </div>
              <% end %>
              <div class="btn-group btn-group-justified btn-group-sm">
                <a href="/events/new/<%= day %>" class="btn btn-success">Add</a>
              </div>
            </td>
        <% end %>
      </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="pull-right">
      <a href="/" class="btn btn-warning btn-lg">
        Nobrella
      </a>
    </div>
  </div>
</div>
