<!DOCTYPE html>
<html>
<head>
  <title>Nobrella</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <!-- Connect to Bootstrap CSS -->
  <link rel="stylesheet" href="http://bootswatch.com/flatly/bootstrap.min.css">

  <!-- Connect to Font Awesome CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  <!-- Connect to jQuery (required before Bootstrap Javascript) -->
  <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>

  <!-- Connect to Bootstrap Javascript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

  <!-- These meta tags make Bootstrap responsive and more accessible -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <style>
      /* Only necessary if you are using navbar-fixed-top */
      body {
          padding-top: 60px;
      }
  </style>

</head>

<body>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">Nobrella</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
            <li><a href="/events">Schedule</a></li>
            <li><a href="/locations">Locations</a></li>
            <li class="dropdown">
              <a href="/users/edit" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <%= current_user.email %>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu dropdown-menu-right">
                <li><a href="/users/edit">Profile</a></li>
                <li><%= link_to('Sign Out', destroy_user_session_path, :method => :delete) %></li>
              </ul>
            </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <% if notice.present? %>
      <div class="alert alert-dismissable alert-success">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <%= notice %>
      </div>
  <% end %>

  <% if alert.present? %>
      <div class="alert alert-dismissable alert-warning">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <%= alert %>
      </div>
  <% end %>

  <%= yield %>
</div>

</body>
</html>
